ul {
  padding: 0;
  list-style-type: none;
  background: #F1F1F2;
  border-radius: 10px;
}

li {
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  font-size: 20px;
  text-align: center;
}

li:last-child {
  padding-bottom: 5px;
}

a {
  font-size: 20px;
  color: blue;
}

.body-bubble {
  background-color: #F26964;
}

.header-div {
  display: flex;
  align-items: center;
}

.bubble-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  background: #F26964;
}

section {
  margin-top: 100px;
  background: #F4F4F2;
  border: 1px solid black;
  margin-top: 30px;
  background-color: #FFD464;
  box-shadow: -5px 2px grey,
              -5px 2px grey,
              -5px 2px grey,
              -5px 2px grey,
              -5px 2px grey;
  padding-top: 10px;
  margin-bottom: 20px;
}

.tooltip {
  position: absolute;
  text-align: center;
  min-width: 60px;
  min-height: 20px;
  padding: 3px;
  border: 1px solid black;
  border-radius: 5px;
  font: 16px;
  color: black;
  background: #F26964;
  pointer-events: none;
  text-align: center;
}

.title {
  font-size: 80px;
  letter-spacing: -3px;
  text-shadow: 1px 1px grey;
  color: #F4F4F2;
}
