.uni-header {
  border: 1px solid black;
  height: 30px;
  width: 98%;
  padding: 8px;
  display: flex;
  align-items: center;
  background: #1995AD;
  border-radius: 10px;
  justify-content: space-between;
}

.uni-footer {
  border: 1px solid black;
  height: 30px;
  width: 98%;
  padding: 8px;
  display: flex;
  align-items: center;
  background: #1995AD;
  border-radius: 10px;
  justify-content: space-between;
  margin-top: 30px;
}

ul {
  padding: 0;
  list-style-type: none;
  background: #F1F1F2;
  border-radius: 10px;
}
li {
  padding: 5px;
  color: black;
  font-size: 20px;
  text-align: center;
}

a {
  font-size: 20px;
  color: blue;
}

.body-bubble {
  background-color: #A1D6E2;
}

.header-div {
  display: flex;
  align-items: center;
}

a.button-three {
  appearance: button;
  text-decoration: none;
  color: initial;
  font-size: 20px;
  margin-left: 10px;
  background: #1995AD;

}
a.button-two {
    appearance: button;
    text-decoration: none;
    color: initial;
    padding-left: 10px;
    font-size: 35px;
    background: #1995AD;
}

a.button {
  appearance: button;
  text-decoration: none;
  color: initial;
  font-size: 35px;
  background: #1995AD;

}

.bubble-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  background: #A1D6E2;
}
section {
  background: #F1F1F2;
  border-radius: 10px;
  border: 1px solid black;
}

.bubble-aside {
  color: black;
  width: 300px;
  margin-right: 50px;
  border: 1px solid black;
  text-align: center;
  background: #1995AD;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  align-items: center;
}

html {
  display: flex;
  justify-content: center;
}
