.link {
  stroke-width: 1px;
  stroke: #F1F3CE;
}

.uni-header {
  border: 1px solid black;
  height: 30px;
  width: 98%;
  padding: 8px;
  display: flex;
  align-items: center;
  background: #1E656D;
  border-radius: 10px;
  justify-content: space-between;
}

ul {
  padding: 0;
  list-style-type: none;
  background: #F1F3CE;
  border-radius: 10px;
}

li {
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  font-size: 20px;
  text-align: center;
}

a {
  font-size: 20px;
  color: blue;
}

.body-force {
  background: #F1F3CE;
}

html {
  display: flex;
  justify-content: center;
}

line  {
  stroke: steelblue;
  stroke-width: 2px;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    min-height: 20px;
    padding: 3px;
    border: 1px solid white;
    border-radius: 5px;
    font: 16px;
    color: black;
    background: #F1F3CE;
    pointer-events: none;
    text-align: center;
}

.force-div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
section {
  width: 600px;
  border-radius: 10px;
  background-color: black;
}

.force-aside {
  color: black;
  width: 300px;
  margin-right: 50px;
  border: 1px solid black;
  text-align: center;
  background: #1E656D;
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a.anchor-force {
  font-size: 20px;
}

a.button {
  appearance: button;
  text-decoration: none;
  color: initial;
  font-size: 35px;
  background: #1E656D;

}

.uni-header {
  border: 1px solid black;
  height: 30px;
  width: 98%;
  padding: 8px;
  display: flex;
  align-items: center;
  background: #1E656D;
  border-radius: 10px;
  justify-content: space-between;
}

.uni-footer {
  border: 1px solid black;
  height: 30px;
  width: 98%;
  padding: 8px;
  display: flex;
  align-items: center;
  background: #1E656D;
  border-radius: 10px;
  justify-content: space-between;
  margin-top: 30px;
}

.header-div {
  display: flex;
  align-items: center;
}

a.button-three {
  appearance: button;
  text-decoration: none;
  color: initial;
  font-size: 20px;
  margin-left: 10px;
  background: #1E656D;

}
a.button-two {
    appearance: button;
    text-decoration: none;
    color: initial;
    padding-left: 10px;
    font-size: 35px;
    background: #1E656D;
}

.title {
  font-size: 24px;
}
