* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background: #F4F4F2;
}

ul {
  padding: 0;
  list-style-type: none;
}

li {
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}

.header-div {
  display: flex;
  align-items: center;
}

.main-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bw-img {
  height: 100%;
  width: 100%;
  margin-bottom: 20px;
}

.about-me {
  width: 50%;
  background-color: #F4F4F2;
  padding: 10px;
  border: 1px solid black;
  /*border-radius: 10px;*/
  font-size: 18px;
}

.bio-div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
  height: 50%;
}

p {
  width: 300px;
  font-size: 21px;
  color: black;
  padding: 0;
  margin: 0;
}

.main-aside {
  margin-right: 20px;
  background-color: #F8F1E5;
  padding: 10px;
  height: 430px;
  border: 1px solid black;
}

img {
  border: 1px solid black;
}

.parent-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
}

.child-one {
  background: #1253A4;
  min-height: 300px;
  min-width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child-two {
  display: flex;
  justify-content: center;
  min-height: 300px;
  min-width: 600px;
}

.grandchild-one {
  background: #F26964;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grandchild-two {
  background: #30302F;
  min-height: 300px;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grand-img {
  height: 200px;
  width: 200px;
  box-shadow: -5px 2px darkgrey,
              -5px 2px darkgrey,
              -5px 2px darkgrey,
              -5px 2px darkgrey,
              -5px 2px darkgrey;
}

.child-img {
  height: 250px;
  width: 400px;
  box-shadow: -5px 2px darkgrey,
              -5px 2px darkgrey,
              -5px 2px darkgrey,
              -5px 2px darkgrey,
              -5px 2px darkgrey;
}

.child-img:hover, .grand-img:hover {
  transform: skew(-10deg);
}
