html, body {
  margin: 0;
  height: 100%;
  background-color: lightcoral;
}

line  {
  stroke: steelblue;
  stroke-width: 2px;
}

path {
  stroke: steelblue;
  stroke-width: 1px;
  fill: none;
}

div.tooltip {
    position: absolute;
    text-align: center;
    min-width: 60px;
    min-height: 20px;
    padding: 5px;
    font: 14px sans-serif;
    color: white;
    text-align: center;
    background: orange;
    border: 1px solid black;
    border-radius: 5px;
    pointer-events: none;
    text-align: center;

}
