html, body {
  margin: 0;
  height: 100%;
  background-color: #F26964;
}

ul {
  padding: 0;
  list-style-type: none;
  background: antiquewhite;
  border-radius: 10px;
}

li {
  padding-left: 5px;
  padding-right: 5px;
  color: black;
  font-size: 20px;
  text-align: center;
}

a {
  font-size: 20px;
  color: blue;
}

.main-scatter-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.scatter-div {
  display: flex;
  justify-content: center;
}

line  {
  stroke: steelblue;
  stroke-width: 2px;
}

path {
  stroke: steelblue;
  stroke-width: 1px;
  fill: none;
}

section {
  width: 1200px;
  height: 800px;
  /*border-radius: 10px;*/
  border: 1px solid black;
  margin-top: 100px;
  background-color: #FFD464;
  box-shadow: -5px 2px grey,
              -5px 2px grey,
              -5px 2px grey,
              -5px 2px grey,
              -5px 2px grey;
  padding-top: 10px;
  margin-bottom: 20px;
}

.tooltip {
    position: absolute;
    text-align: center;
    min-width: 40px;
    min-height: 20px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    font: 14px sans-serif;
    color: white;
    text-align: center;
    background: #336B87;
    pointer-events: none;
    text-align: center;
}

/*.uni-header {
  border: 1px solid black;
  height: 30px;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  background: #336B87;
  justify-content: space-between;
}
.uni-footer {
  border: 1px solid black;
  height: 30px;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  background: #336B87;
  justify-content: space-between;
  margin-top: 30px;
}*/

/*html {
  display: flex;
  justify-content: center;
}*/

a.button {
  appearance: button;
  text-decoration: none;
  color: initial;
  font-size: 35px;
  background: #336B87;

}

.header-div {
  display: flex;
  align-items: center;
}

a.button-three {
  appearance: button;
  text-decoration: none;
  color: initial;
  font-size: 20px;
  margin-left: 10px;
  background: #336B87;

}
a.button-two {
    appearance: button;
    text-decoration: none;
    color: initial;
    padding-left: 10px;
    font-size: 35px;
    background: #336B87;
}

.scatter-aside {
  padding: 10px;
  color: black;
  width: 300px;
  margin-right: 50px;
  border: 1px solid black;
  text-align: center;
  background: #336B87;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.axis {
  font-size: 15px;
}

.title {
  font-size: 24px;
}

.scatter-title {
  letter-spacing: -3px;
  text-shadow: 1px 1px grey;
  fill: #F26964;
}
